{% extends 'settings/base.html' %}
{% load i18n %}
{% block title %}User Settings{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Change Password") %}
{% endblock page_header %}

{% block settings_main %}
<div class="left">
    
    <fieldset>
     {{ request.user.username }} 密码修改 
     {% if msg_result %}
    成功,重新登录时生效!
{% else %}
    失败<br>
    失败原因：<br>1.两次输入密码不一致或者输入的密码长度小于6<br>2.你不能在此修改admin密码.修改admin密码请联系管理员
{% endif %}
    !
    </fieldset>
</div>
{% endblock %}
