{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}passwd_settings_form{% endblock %}
{% block form_action %}{% url horizon:settings:passwd:set_passwd %}{% endblock %}


{% block modal_id %}passwd_settings_modal{% endblock %}
{% block modal-header %}{% trans "修改密码" %}{% endblock %}

{% block modal-body %}
<div class="left">
    请使用长度请大于6位的密码：
    <fieldset>
    
      新的密码：<input type="password" name="newpasswd"/><br>
           再输一次：<input type="password" name="newpasswd2" />
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "在此修改你的Dashboard登录密码<br> 注意： admin用户的密码不能在此修改！" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn btn-primary" type="submit" value="{% trans "修改密码" %}" />
    {% if hide %}<a href="{% url horizon:settings:passwd:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}

