{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Register" %}{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}{% url horizon:register_do %}{% endblock %}

{% block modal-body %}
  <fieldset>
  {% if error %}
  <legend  class="alert-error">{{error}}</legend>
  {% endif %}
    
    {% if next %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />{% endif %}
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <a href="/" class="btn pull-left">{% trans "Return to Index" %}</a>
  <button type="submit" class="btn btn-primary pull-right">{% trans "Register" %}</button>
{% endblock %}