{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block modal-header %}{% trans "Register Successfully" %}{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block modal-body %}
  <fieldset>
  恭喜你，注册成功。你的注册信息为：<br>
 用户名:{{username}}<br>
 
Email:{{email}}<br>

<div class="alert-error">注意：您现在注册的账户是一个测试账户，测试账户及由测试账户创建的项目数据可能随时会被删除！欢迎加入QQ群:19055563 反馈问题<hr size="1">
如果你需要保存您的数据，使用公网IP，或者成为Syscloud 的商业用户，欢迎致电 010-64823701-8016,或者 QQ:11315889。
</div>
{% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <a href="/" class="btn btn-primary pull-left">{% trans "Return to Index" %}</a>
{% endblock %}